# Crée le fichier .gitignore à la racine
touch .gitignore
```

**Contenu du `.gitignore` :**
```
# Environnement virtuel
venv/

# Fichier sensible
.env
.env.dev
.env.prod
.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
media/
staticfiles/
db.sqlite3
node_modules/

# IDE
.vscode/
.idea/

# Coverage
.coverage